@media all and (max-width: 1366px) and (min-width: 640px) {
  .p60 {
    width: 50%;
  }
}
@media all and (max-width: 1366px) {
  .default_rectangle {
    width: 40%;
    height: 100px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
  }
  .longrectangle {
    width: 90%;
    height: 100px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
  }
  .big_rectangle {
    width: 80%;
    height: 40%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 7%;
  }
  .bigest_rectangle {
    width: 80%;
    height: 650px;
    margin-left: 1%;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-right: 0px;
  }
  .big_rectangle_split {
    width: 80%;
    height: 150px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }
  .red {
    background: #ff2b4a;
  }
  .dark {
    background: #002453;
  }
  .purpule {
    background: #835aeb;
  }
  .blue {
    background: #10c6fc;
  }
  .big_rectangle_color {
    background: #55657d;
  }
  .left_flow {
    margin-top: 5% ;
    margin-left: 5% ;
    float: left;
  }
  .right_flow {
    margin-top: 5%;
    margin-right: 5%;
    float: right;
  }
  .mycontainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .margin_purpule_man {
    width: 320px;
    height: 400px;
  }
  .vertical_flex_with_padding {
    padding: 15% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 60%;
    margin-bottom: 20%;
  }
  .vectical_flex_for_rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vectical_flex_for_rectangle_down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .horizontal_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .horizontal_flex_with_margin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .input_c {
    background-color: transparent;
    width: 90%;
    height: 50px;
    border: 1px solid #aaa;
    color: #aaa;
    margin-top: 1%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 1%;
    font-size: 18px;
  }
  .text_area_c {
    background-color: transparent;
    color: #aaa;
    font-size: 18px;
    border: 1px solid #aaa;
    width: 89%;
    height: 200px;
    margin-right: 0px;
    margin-left: 0px;
    resize: none;
  }
  .horizontal_flex_with_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .container_with_different_rectengles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-direction: column;
    width: 100%;
  }
  .gradient {
    margin: 0 auto;
    background-image: url(../images/header.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .gradient2 {
    margin: 0 auto;
    background-image: url(../images/header.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .gradient3 {
    margin: 0 auto;
    background-image: url(../images/header.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .black_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100px;
    width: 100%;
    background-color: #222222;
  }
  .button {
    background-color: red;
    color: white;
    border: none;
    margin-top: 10%;
  }
  .big_gray_section {
    background-color: #f6f6f6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small_gray_section {
    background-color: #f6f6f6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .green_section {
    padding-top: 130px;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    text-align: left;
    height: 570px;
    background-color: #64cbc0;
    width: -310%;
  }
  .intro_margin {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .horizontal_in_rectangle {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .big_font {
    font-size: 200%;
    color: white;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    line-height: 60px;
    letter-spacing: 6px;
    margin-bottom: 0px;
  }
  .font_in_rectangle {
    font-size: 26px;
    color: white;
    font-family: 'Raleway';
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    text-transform: uppercase;
  }
  .font_in_rectangle2 {
    font-size: 26px;
    color: white;
    font-family: 'Raleway';
    margin-top: 5%;
    text-transform: uppercase;
    text-transform: none;
    color: #ddd;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .regular_text_raleway {
    font-size: 16px;
    color: white;
    font-family: 'Raleway';
    text-transform: uppercase;
  }
  .regular_text_for_green {
    font-size: 16px;
    color: #666;
    font-family: 'Roboto';
    line-height: 28px;
    color: #555;
  }
  .regular_text {
    font-size: 16px;
    color: #666;
    font-family: 'Roboto';
    line-height: 28px;
  }
  .intro_font {
    font-size: 18px;
    color: #444;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .small_font_tegs {
    font-size: 15px;
    color: #ccc;
    font-family: 'Roboto';
  }
  .working_proccess_font {
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .right_margin {
    margin-right: 20px;
  }
  .left_margin {
    margin-left: 25px;
  }
}
